.card {
    background: white;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgb(59, 59, 59 0.4);

}
.inputs{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.inputs label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.inputs input{
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.25rem;
}
.inputs input:focus{
    outline: none;
    border-color: #4f005f;
}

.btn{
    border: 1px solid #4f005f;
    background: #4f005f;
    color: #fff;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
.btn:focus{
    outline: none;
}
.btn:hover,
.btn:active{
    background: #741188;
    border-color: #741188;
}

.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
}
.users ul {
    list-style-type: none;
    padding: 1rem;
}
.users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.modal{
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    overflow: hidden;
    z-index: 100;
}
.header {
    background: #4f005f;
    padding: 1rem;
}
.header h2 {
    margin: 0;
    color: #fff;
}
.content{
    padding: 1rem;
}
.actions{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}